*{
	box-sizing:border-box;
}
.row::after{
	content:"";
	clear:both;
	display:table;
}
.row{
margin:2% 0%}
[class*="col-"] {
  float:left;
  
}
.col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
/*div{margin-bottom:3%}*/
.logo{
	width:100%;
	background-color:#ccc;
	color:black;
	text-align:center;
	padding:5%;
	margin-bottom:2%;
	
}
.header{
	width:100%;
	background-color:#ccc;
	color:black;
	text-align:center;
	padding:10%;
	
	margin-bottom:2%
}
.flex-container {
	width:100%;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap
}

.flex-container > div{
  background-color: #ccc;
  width: 23%;
  margin: 0;
  text-align: center;
  line-height: 75px;
  font-size:12px
}

.about{
	background-color:#ccc;
	color:black;
	text-align:center;
	padding:150px 0; 
	
	
}
.aside{
	background-color:#ccc;
	color:black;
	text-align:center;
	padding:60px 0; 
	
}
.footer{
	width:100%;
	background-color:#ccc;
	color:black;
	text-align:center;
	padding:10%;
	margin-top:2%;

}
.main{margin-right:8.33%}
.QLinks{margin-bottom:3.9%}

@media only screen and(max-width:768px){
	[class*="col-"]{width:100%;}
}
@media only screen and(max-width:483px){
	div.nav1{font-size:10px;
	color:red;}
}